/* Styling time */

/*  Should we use lessjs? I'd like to, not sure how at the moment
.sky_color {
  #00ccff
}
*/

body {
  background-color: #00ccff;
  width: 100%;
  height: 100%;
}

sky {
  height: 80%;
  margin: 0 auto;
  position: relative;
  display: block;
}

ground {
  background-color: green;
  height: 10%; 
  margin: 0 auto;
  position: relative;
  display: block;
}

home {
  background-color:#00ccff;
  height: 10%;
  margin: 0 auto;
  font: Helvetica;
  font-style: oblique;
  color: white;
  font-size: 25px;
  letter-spacing:1em;
  position: relative;
  display: block;
}
